/*
 * FIXME: Introduce SCSS & Sprockets
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: circle;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================ */
/* = The 1Kb Grid = */
/* 12 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */
.grid_1 {
  width: 60px; }

.grid_2 {
  width: 140px; }

.grid_3 {
  width: 220px; }

.grid_4 {
  width: 300px; }

.grid_5 {
  width: 380px; }

.grid_6, body #main h1, body #main h2, #home #content section, #projects #library, #projects #qcp {
  width: 460px; }

.grid_7 {
  width: 540px; }

.grid_8 {
  width: 620px; }

.grid_9 {
  width: 700px; }

.grid_10 {
  width: 780px; }

.grid_11 {
  width: 860px; }

.grid_12, body #main nav.main, body footer {
  width: 940px; }

.column, body #main h1, body #main h2, body #main nav.main, body hr, body #content nav#block, body #content nav#block div, body footer, #projects #library, #projects #qcp {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline; }

.row, body, body #main, body #content {
  width: 960px;
  margin: 0 auto;
  overflow: hidden; }
  .row .row, body .row, body #main .row, body #content .row, .row body, body body, body #main body, body #content body, .row body #main, body .row #main, body #main, body #main #main, body #content #main, .row body #content, body .row #content, body #content, body #main #content, body #content #content {
    margin: 0 -10px;
    width: auto;
    display: inline-block; }

/* Typography */
.red {
  background: red; }

.color_red {
  color: #961227; }

.hidden {
  display: none; }

body {
  color: #666666;
  font-family: "Helvetica", "Arial", "sans-serif";
  font-size: 14px; }

a {
  color: #61677a;
  text-decoration: none; }

a:hover, header#main h2 {
  color: #961227; }

a.download {
  background-image: -webkit-linear-gradient(top, white, #e5e5e5);
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: block;
  font-size: 1.71428571em;
  text-align: center;
  padding: 0.21428571em;
  width: 150px; }

a.download, a.download:hover, a.download:active {
  color: #61677a !important;
  text-decoration: none !important; }

a.download:hover {
  background-image: -webkit-linear-gradient(bottom, white, #e5e5e5); }

a.download:active {
  background: #e5e5e5; }

header#main h1 {
  color: #24262D;
  font-size: 7.71428571em;
  font-weight: bold; }
  header#main h1 a {
    color: #24262D; }
header#main h1 a:hover {
  color: #961227; }
header#main h2 {
  font-size: 5.14285714em; }
header#main nav {
  font-size: 1.07142857em; }

nav.main a {
  text-decoration: underline; }

nav#block section {
  font-size: 1.07142857em;
  text-decoration: underline; }

#content {
  line-height: 14px; }
  #content p {
    margin-bottom: 10px;
    text-indent: 25px;}
  #content section h1 {
    font-size: 1.28571429em;
    line-height: 0.94285714em; }

.paragraph {
	text-indent: 100px;
	background-color:#C00
}

footer {
  color: #8a92ad; }

/* General Pages */
body #main h1, body #main h2 {
  padding: 0;
  }
body #main h2 {
  margin-top: 0.43em;
  padding-bottom: 10px; }
body #main nav.main {
  margin-left: 18px; }
body hr {
  background: #8a92ad;
  border: 0;
  height: 1px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 1.71428571em;
  width: 944px; }
body #content nav#block {
  background: #e0e6f9;
  border: 2px solid #8a92ad;
  padding: 10px;
  padding-top: 0px;
  width: 920px; }
  body #content nav#block div {
    width: 210px; }
    body #content nav#block div section {
      margin-top: 10px; }
      body #content nav#block div section li {
        margin: 2px 0px; }
body footer {
  margin-top: 0.85714286em;
  text-align: center; }
  
body#help {
  overflow: auto;
}

body #content h1 {
	font-size:2em;
}

body #content h2 {
	font-size:1.5em;
	text-indent: 1.5em;
}

body #content p {
	text-indent: 3em;
	padding-top: 1.4em;
}

section, section header {
  margin-bottom: 1em;
}

img {
  margin: 0 auto;
  padding: 1em 0em;
}